body {
    background-image: url(MAPA-DE-SALA-EDITAVEL.jpg);
    background-size: cover;
    background-position: center;      
    color:rgb(0, 0, 0);
    font-size: 50px;
    font-style: bold;
    
}

.logoescola {
    width: 50%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10cm;
    
}
.estudante{
  display: flex;
  flex-wrap: wrap;

}
.iten{
 margin-top: 30px;
 margin-bottom: 30px;
 width: 300px;

}
.iten img{

    width: 500px;

}