body {
  
    color:rgb(3, 0, 3);
    font-size: 50px;
    font-style: bold;
    
}

.logoescola {
    width: 50%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10cm;
    
}
.estudante{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.iten{
 margin-top: 30px;
 margin-bottom: 30px;
 width: 300px;

}
.iten img{

    width: 200px;

}

.fundo {

    background-image: url(img/MAPA-DE-SALA-EDITAVEL.jpg);
    background-size: 100%;   
    background-position:center;   
}
