body {
  
    color:rgb(3, 0, 3);
    font-size: 50px;
    font-style: bold;
    
}

.logoescola {
    width: 20%;
}

.meio{
    justify-content: space-around;
    Display:flex;
    align-items: center; 
    justify-content: center;                                                                                                                                                                                                                                                                                                   
}

.topico{
    margin-right: 10cm;
    
}
.estudante{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.iten{

 margin-top: 20px;
 margin-bottom: 20px;
 width: 300px;


}
.iten img{

    width: 200px;
    height: 200px;
    display: inline-block;
}

.fundo {

    background-image: url(img/MAPA-DE-SALA-EDITAVEL.jpg);
    background-size: 100%;   
    background-position:center;   
}
